<% if @team.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @team do |form| %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= form.text_field :name, :placeholder => "team name" %></td>
    </tr>
    <% if @team.team_members.count > 0 %>
      <tr>
        <td><strong>Team Members</strong></td>
        <td></td>
      </tr>
    <% end %>
    <% @team.team_members.each do |member| %>
      <tr>
        <td><%= member.mutant.name %></td>
        <td><small>Remove</small> <input type='checkbox' name='delete_mutants[]' value='<%= member.id %>' /></td>
      </tr>
    <% end %>
    <tr>
      <td>More Mutants</td>
      <td><%= xmen_autocomplete_field 'new_mutants', "Search Mutant", mutant_search_teams_path(:team_id => @team.id, :format => 'json'), 'name' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
