<% if team.mutants.count > 0 %>
  <div><strong>Mutants working for <%= @team.name %></strong></div>
  <table>
    <% team.mutants.each do |mutant| %>
      <tr>
        <td><%= link_to mutant.name, mutant_path(mutant) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  This team does not have any members yet
<% end %>
