<% if team.tasks.count > 0 %>
  <div><strong>Tasks being worked by <%= @team.name %></strong></div>
  <table>
    <% team.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task_path(task) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No task available currently
<% end %>
