<table>
<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= link_to "Add/Delete Mutants", edit_team_path(team.id) %></td>
    <td><%= link_to "Delete", team_path(team.id), :method => 'DELETE' %></td>
    <td><%= link_to "Details", team_path(team.id) %></td>
  </tr>
<% end %>
</table>

<div>
  <strong><%= link_to "Create Team", new_team_path %></strong>
</div>
