<% if @task.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @task do |form| %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= form.text_field :name, :placeholder => "task name" %></td>
    </tr>
    <% if @task.team_tasks.count > 0 %>
      <tr>
        <td><strong>Teams Assigned</strong></td>
        <td></td>
      </tr>
    <% end %>
    <% @task.team_tasks.each do |team_task| %>
      <tr>
        <td><%= team_task.team.name %></td>
        <td><small>Remove</small> <input type='checkbox' name='delete_teams[]' value='<%= team_task.id %>' /></td>
      </tr>
    <% end %>
    <tr>
      <td>More Teams</td>
      <td><%= xmen_autocomplete_field 'new_teams', "Search Team", team_search_tasks_path(:task_id => @task.id, :format => 'json'), 'name' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
