<% if task.teams.count > 0 %>
  <div><strong>Teams working on this task</strong></div>
  <table>
    <% task.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No teams working on this task yet.
<% end %>
