<table>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= link_to "Assign Teams", edit_task_path(task.id) %></td>
    <td><%= link_to "Delete", task_path(task.id), :method => 'DELETE' %></td>
    <td><%= link_to "Details", task_path(task.id) %></td>
  </tr>
<% end %>
</table>

<div>
  <strong><%= link_to "Create Task", new_task_path %></strong>
</div>
