<table>
  <tr>
    <td><%= link_to "Lab", root_path %></td>
    <td><%= link_to "Tasks", tasks_path %></td>
    <td><%= link_to "Teams", teams_path %></td>
    <td><%= link_to "Mutants", mutants_path %></td>
  </tr>
</table>
