<h2>Welcome to Professor X's Lab!</h2>
<div>
  <%= link_to 'Manage Tasks', tasks_path %>
</div>
<div>
  <%= link_to 'Manage Teams', teams_path %>
</div>
<div>
  <%= link_to 'Manage Mutants', mutants_path %>
</div>
