<% if @mutant.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@mutant.errors.count, "error") %> prohibited this mutant from being saved:</h2>
    <ul>
      <% @mutant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @mutant do |form| %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= form.text_field :name, :placeholder => "mutant name" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
