<% if mutant.teams.count > 0 %>
  <div><strong>This mutant belongs to following teams</strong></div>
  <table>
    <% mutant.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  This mutant belongs to no team
<% end %>
