<table>
<% @mutants.each do |mutant| %>
  <tr>
    <td><%= mutant.name %></td>
    <td><%= link_to "Edit", edit_mutant_path(mutant.id) %></td>
    <td><%= link_to "Delete", mutant_path(mutant.id), :method => 'DELETE' %></td>
    <td><%= link_to "Details", mutant_path(mutant.id) %></td>
  </tr>
<% end %>
</table>

<div>
  <strong><%= link_to "Create Mutant", new_mutant_path %></strong>
</div>
