<!DOCTYPE html>
<html>
  <head>
    <title>Professor X's Westchester Mansion</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <style>
      #header {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <%= render :partial => 'shared/header' %>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
